<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>图片</string>
		<key>func</key>
		<array>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>全景图</string>
				<key>func</key>
				<string>YQPanoramaView</string>
				<key>url</key>
				<string>https://github.com/976431yang/YQPanoramaView</string>
			</dict>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>图片剪裁</string>
				<key>func</key>
				<string>TOCropView</string>
				<key>url</key>
				<string>https://github.com/TimOliver/TOCropViewController</string>
			</dict>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>图片选取</string>
				<key>func</key>
				<string>JFImagePicker</string>
				<key>url</key>
				<string>https://github.com/johnil/JFImagePickerController</string>
			</dict>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>图片缩放</string>
				<key>func</key>
				<string>VIPhotoView</string>
				<key>url</key>
				<string>https://github.com/vitoziv/VIPhotoView</string>
			</dict>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>播放GIF</string>
				<key>func</key>
				<string>GIF</string>
				<key>url</key>
				<string>https://github.com/rs/SDWebImage</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>视频</string>
		<key>func</key>
		<array>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>视频下载</string>
				<key>func</key>
				<string>HSDownloadManager</string>
				<key>url</key>
				<string>https://github.com/HHuiHao/HSDownloadManager</string>
			</dict>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>视频播放</string>
				<key>func</key>
				<string>WMPlayer</string>
				<key>url</key>
				<string>https://github.com/zhengwenming/WMPlayer</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>对话框</string>
		<key>func</key>
		<array>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>LCActionSheet</string>
				<key>func</key>
				<string>LCActionSheet</string>
				<key>url</key>
				<string>https://github.com/iTofu/LCActionSheet</string>
			</dict>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>DQAlertView</string>
				<key>func</key>
				<string>DQAlertView</string>
				<key>url</key>
				<string>https://github.com/dinhquan/DQAlertView</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>多语言</string>
		<key>func</key>
		<array>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>中英粤</string>
				<key>func</key>
				<string>LanguageManager</string>
				<key>url</key>
				<string>https://github.com/huangxuan518/HXInternationalizationDemo</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>菜单</string>
		<key>func</key>
		<array>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>ContextMenu</string>
				<key>func</key>
				<string>ContextMenu</string>
				<key>url</key>
				<string>https://github.com/Yalantis/Context-Menu.iOS</string>
			</dict>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>CYLMenu</string>
				<key>func</key>
				<string>CYLMenu</string>
				<key>url</key>
				<string>https://github.com/ChenYilong/CollectionViewClassifyMenu</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>进度</string>
		<key>func</key>
		<array>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>DGActivityIndicatorView</string>
				<key>func</key>
				<string>DGActivityIndicatorView</string>
				<key>url</key>
				<string>https://github.com/gontovnik/DGActivityIndicatorView</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>安全</string>
		<key>func</key>
		<array>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string>JQFMDB</string>
				<key>func</key>
				<string>JQFMDB</string>
				<key>url</key>
				<string>https://github.com/gaojunquan/JQFMDB</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>富文本</string>
		<key>func</key>
		<array>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>func</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/CYC666</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>其他</string>
		<key>func</key>
		<array>
			<dict>
				<key>status</key>
				<false/>
				<key>name</key>
				<string></string>
				<key>func</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/CYC666</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
